.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  display: flex;
  margin: 20px
}

.input-form, .list-view {
  min-width: 33.333%
}

.list-view {
  display: flex;
  flex-direction: column;
  margin: 0 15px
}

.flex-column {
  display: flex;
  flex-direction: column
}

.input-form {
  display: flex;
  flex-direction: column
}

.card + .card {
  margin-bottom: 15px;
}

.half-width {
  display: flex;
  justify-content: space-around
}

.padding-right-5 {
  padding-right: 5px
}

.padding-left-5 {
  padding-left: 5px
}